In [1]:
import pandas as pd

In [2]:
statename='Idaho'

In [3]:
df = pd.read_excel(f"../Resources/Glassdoor/{statename}_glassdoor.xlsx")

In [4]:
df.dropna()

,company,description,location,position,reviews,Region
0,Amazon,Excited by using massive amounts of data to de...,"Boise, ID",data scientist,0,West
1,Idaho Central Credit Union,Do you enjoy working with other people and fin...,"Chubbuck, ID",bi analyst,5,West
3,Idaho National Laboratory,DescriptionJob Information\n\nJob Title: Data ...,"Idaho Falls, ID",data scientist,5,West
4,Tea Collection,Expectations for All Employees:Supports the or...,"Boise, ID",data analyst,0,West
5,Burst Biologics,WHO WE ARE:\n\nBurst Biologics is a globally a...,"Boise, ID",research scientist,4,West
6,Micron Technology,Req. ID: 139947\n\nMicron Technology’s vision ...,"Boise, ID",data scientist intern,6,West
7,TSheets,OverviewAre you passionate about data? Do you ...,"Eagle, ID",senior business data analyst,5,West
8,"Micron Technology, Inc.",Req. ID: 143828\n\nData Scientist\n\nMicron Te...,"Boise, ID",data scientist,4,West
9,Vacasa,Why Vacasa\n\nWe started with just one home an...,"Boise, ID",data scientist,5,West
10,Hewlett Packard Enterprise,"At Hewlett Packard Enterprise (HPE), we bring ...","Boise, ID",data manager intern,5,West
11,Applied Materials,**Key Responsibilities** Manage and facilitat...,"Boise, ID",data analyst,2,West
12,P1FCU,Job Description Role:\n\nCombines advanced mat...,"Lewiston, ID",bi analyst,1,West
13,Denodo Technologies,Company DescriptionDenodo is the leader in dat...,"Boise, ID",data engineer,0,West
14,St. Luke's Health System,\n*Overview**\n\n\nDo you like working on thin...,"Boise, ID",data analyst,5,West
15,Micron,Req. ID: 146013 Micron Technology’s vision ...,"Boise, ID",data scientist,0,West
16,American Heart Association,\n*Overview**\n\n\nAre **you ready to join an ...,"Boise, ID",lead biostatistician,2,West
17,Bayer,Bayer is a global enterprise with core compet...,"Soda Springs, ID",bioinformatics scientist,1,West
18,iVinci Health,Summary of Position:\n\nThe Data Analyst I is ...,"Boise, ID",data analyst,0,West
19,Biomark,"Job Title: Computer Scientist, Biomark\n\nDep...","Boise, ID",computer scientist,0,West
20,Emsi,Position OverviewWe are looking for a highly m...,"Moscow, ID",data engineer,2,West
21,Bodybuilding.com,Bodybuilding.com is the world’s largest online...,"Boise, ID",senior bi analyst,5,West
22,Litehouse,Basic Purpose and Scope:The R&D Food Scientist...,"Sandpoint, ID",food scientist,5,West
23,St. Luke's Health System,Overview\n\nFind your purpose and your best ca...,"Boise, ID",data engineer,5,West
24,Vacasa,Why Vacasa\n\nWe started with just one home an...,"Boise, ID",data engineer,5,West
25,U.S. Navy,You will serve as a Computer Scientist in the ...,"Bayview, ID",computer scientist,0,West
26,U.S. Air Force,"Click on""Learn more about this agency"" button ...","Mountain Home AFB, ID",biological scientist,5,West
27,Agri-Service,Job DescriptionDo you have that ideal mix of s...,"Blackfoot, ID",business data analyst,0,West
28,Safeway,LLC CORPORATE OFFICE-9938A-BOISE-ID\n\nAlberts...,"Boise, ID",bi analyst,3,West
29,Parker Hannifin (USA),Org Marketing Statement\n\nWith annual sales o...,"Santa, ID",materials scientist,0,West
30,"Waterborne Environmental, Inc",Data Analyst (Position Code VA/DA1119)\n\nData...,"Leesburg, ID",data analyst,0,West
32,"Verint Systems, Inc.",\n*Data Engineer**\n\n\nLocation **US-Remote (...,"Boise, ID",data engineer,0,West
33,Albertsons Companies,LLC CORPORATE OFFICE-9938A-BOISE-ID\n\nAlberts...,"Boise, ID",bi analyst,5,West
34,"Micron Technology, Inc.",Req. ID: 144161\n\nMicron Technology's vision ...,"Boise, ID",bi analyst,6,West
35,"Micron Technology, Inc.",Req Id: 145206\n\nMicron Technology's vision i...,"Boise, ID",surface warfare officer,6,West
36,United Global Technologies,The Data Analytics Report Builder will assist ...,"Idaho Falls, ID",data analyst,5,West
37,Intuit,OverviewAre you passionate about data? Do you ...,"Eagle, ID",senior business data analyst,5,West
38,ClickFunnels,ClickFunnels is a company focused on changing ...,"Boise, ID",senior data engineer,5,West
39,"Battelle Energy Alliance, LLC at INL",\n \nThe Computational Frameworks department w...,"Idaho Falls, ID",computer scientist,0,West
40,St. Luke's Health System,St. Luke’s Health System has an exciting oppor...,"Boise, ID",bi analyst,5,West
43,Trinity Health,"At Saint Alphonsus Health System, we are looki...","Boise, ID",bi analyst,2,West
44,Shell Petroleum,"Data Engineer, Energy Platform - Houston, TX\n...","Houston, ID",data engineer,0,West
45,Micron Technology,Req. ID: 139422\n\nMicron Technology’s vision ...,"Boise, ID",data manager intern,5,West
46,"Micron Technology, Inc.",Req. ID: 145149\n\nEnjoy the meaningful and fa...,"Boise, ID",bi analyst intern,6,West
47,Perkins Coie LLP,Power Business Intelligence Analyst\n\nTechnol...,"Boise, ID",bi analyst,1,West
48,"Micron Technology, Inc.",Req. ID: 147941\n\nMicron Technology's vision ...,"Boise, ID",data engineer,5,West
49,Micron,"Req. ID: 133968\n\nIT Data Engineer, Big Data\...","Boise, ID",data engineer,5,West
50,"Micron Technology, Inc.",Req. ID: 141987\n\nAs a Data Science Engineer ...,"Boise, ID",data consultant intern,5,West
51,St. Luke's Health System,\n*Overview**\n\n\nDo you like working on thin...,"Boise, ID",bi analyst,5,West
52,Micron,Req. ID: 144161\n\nMicron Technology’s vision ...,"Boise, ID",bi analyst,0,West
53,Micron,Req. ID: 144575\n\nMicron Technology’s vision ...,"Boise, ID",bi analyst,0,West
54,Micron Technology,Req. ID: 140108\n\nAre you looking for a uniqu...,"Boise, ID",data engineer intern,6,West
55,Micron,Req Id: 145206\n\nMicron Technology’s vision i...,"Boise, ID",surface warfare officer,0,West
56,"Micron Technology, Inc.",Req. ID: 144753\n\nMicron Technology's vision ...,"Boise, ID",bi manager,5,West
57,Micron,"Req. ID: 133968\n\nIT Data Engineer, Big Data\...","Boise, ID",data engineer,0,West
58,Micron,Req. ID: 147941\n\nMicron Technology’s vision ...,"Boise, ID",data engineer,0,West
59,"Micron Technology, Inc.",Req. ID: 146523\n\nMicron Technology's vision ...,"Boise, ID",data engineer,5,West
60,Vacasa,Why Vacasa\n\nWe started with just one home an...,"Boise, ID",senior controls engineer,5,West
61,Micron,Req. ID: 144753\n\nMicron Technology's vision ...,"Boise, ID",bi manager,0,West
62,Micron,Req. ID: 146523\n\nMicron Technology’s vision ...,"Boise, ID",data engineer,0,West

In [5]:
# filter only three most relevant position

df_Analyst = df[df['position'].str.contains('Data Analyst',case=False, na=False) ]
df_Scientist = df[df['position'].str.contains('Data Scientist',case=False, na=False) ]
df_Engineer = df[df['position'].str.contains('Data Engineer',case=False, na=False) ]

frames = [df_Analyst, df_Scientist, df_Scientist]
glassdoor_df = pd.concat(frames)

glassdoor_df.dropna()

,company,description,location,position,reviews,Region
4,Tea Collection,Expectations for All Employees:Supports the or...,"Boise, ID",data analyst,0,West
7,TSheets,OverviewAre you passionate about data? Do you ...,"Eagle, ID",senior business data analyst,5,West
11,Applied Materials,**Key Responsibilities** Manage and facilitat...,"Boise, ID",data analyst,2,West
14,St. Luke's Health System,\n*Overview**\n\n\nDo you like working on thin...,"Boise, ID",data analyst,5,West
18,iVinci Health,Summary of Position:\n\nThe Data Analyst I is ...,"Boise, ID",data analyst,0,West
27,Agri-Service,Job DescriptionDo you have that ideal mix of s...,"Blackfoot, ID",business data analyst,0,West
30,"Waterborne Environmental, Inc",Data Analyst (Position Code VA/DA1119)\n\nData...,"Leesburg, ID",data analyst,0,West
36,United Global Technologies,The Data Analytics Report Builder will assist ...,"Idaho Falls, ID",data analyst,5,West
37,Intuit,OverviewAre you passionate about data? Do you ...,"Eagle, ID",senior business data analyst,5,West
0,Amazon,Excited by using massive amounts of data to de...,"Boise, ID",data scientist,0,West
3,Idaho National Laboratory,DescriptionJob Information\n\nJob Title: Data ...,"Idaho Falls, ID",data scientist,5,West
6,Micron Technology,Req. ID: 139947\n\nMicron Technology’s vision ...,"Boise, ID",data scientist intern,6,West
8,"Micron Technology, Inc.",Req. ID: 143828\n\nData Scientist\n\nMicron Te...,"Boise, ID",data scientist,4,West
9,Vacasa,Why Vacasa\n\nWe started with just one home an...,"Boise, ID",data scientist,5,West
15,Micron,Req. ID: 146013 Micron Technology’s vision ...,"Boise, ID",data scientist,0,West
0,Amazon,Excited by using massive amounts of data to de...,"Boise, ID",data scientist,0,West
3,Idaho National Laboratory,DescriptionJob Information\n\nJob Title: Data ...,"Idaho Falls, ID",data scientist,5,West
6,Micron Technology,Req. ID: 139947\n\nMicron Technology’s vision ...,"Boise, ID",data scientist intern,6,West
8,"Micron Technology, Inc.",Req. ID: 143828\n\nData Scientist\n\nMicron Te...,"Boise, ID",data scientist,4,West
9,Vacasa,Why Vacasa\n\nWe started with just one home an...,"Boise, ID",data scientist,5,West
15,Micron,Req. ID: 146013 Micron Technology’s vision ...,"Boise, ID",data scientist,0,West

In [6]:
# new data frame with split value columns 
location_df = glassdoor_df["location"].str.split(",", n = 1, expand = True) 

# add city
glassdoor_df["City"]= location_df[0] 
  
# add state
glassdoor_df["State"]= location_df[1] 
  
# Dropping old Name columns 
glassdoor_df.drop(columns =["location"], inplace = True) 

glassdoor_df.head()

,company,description,position,reviews,Region,City,State
4,Tea Collection,Expectations for All Employees:Supports the or...,data analyst,0,West,Boise,ID
7,TSheets,OverviewAre you passionate about data? Do you ...,senior business data analyst,5,West,Eagle,ID
11,Applied Materials,**Key Responsibilities** Manage and facilitat...,data analyst,2,West,Boise,ID
14,St. Luke's Health System,\n*Overview**\n\n\nDo you like working on thin...,data analyst,5,West,Boise,ID
18,iVinci Health,Summary of Position:\n\nThe Data Analyst I is ...,data analyst,0,West,Boise,ID

In [7]:
glassdoor_df.to_csv(f'../../Load/Resources/Glassdoor/{statename}_glassdoor.csv',sep='|',index=False)