In [1]:
import pandas as pd

In [2]:
statename='Montana'

In [3]:
df = pd.read_excel(f"../Resources/Glassdoor/{statename}_glassdoor.xlsx")

In [4]:
df.dropna()

,company,description,location,position,reviews,Region
0,GIG,\n-------------\n\n\nThe role\n\n\n\n---------...,"Malta, MT",data scientist,0,West
1,Deloitte,"**Data Scientist Helena, MT** Are you an...","Helena, MT",data scientist,1,West
2,Deloitte,"Data Scientist – Helena, MT\n\nAre you an expe...","Helena, MT",data scientist,1,West
3,Socati,Job DescriptionBe a part of the evolution.\nWi...,"Missoula, MT",analytics,0,West
4,State of Montana,"TITLE: Data Analyst\n\nSTATUS: Permanent, Full...","Helena, MT",data analyst,5,West
5,Billings Clinic,The Collaborative Science and Innovation (CSI)...,"Billings, MT",data analyst,4,West
6,EDULOG,DATA ANALYST\n\nWHY WORK WITH EDULOG?\n\nWork ...,"Missoula, MT",data analyst,0,West
7,"Verint Systems, Inc.",\n*Data Engineer**\n\n\nLocation **US-Remote (...,"Helena, MT",data engineer,0,West
8,GSK,Site Name: USA - Montana - Hamilton\n\nPosted ...,"Hamilton, MT",senior research scientist,2,West
9,Bayer,Bayer is a global enterprise with core compet...,Montana,bioinformatics scientist,0,West
10,State of Montana,Why should you keep reading and consider worki...,"Helena, MT",data analyst,5,West
11,D.A. Davidson Companies,Job Description:We are seeking to hire an expe...,"Great Falls, MT",data analyst,5,West
12,Livingston HealthCare,*Please apply at www.livingstonhealthcare.org\...,"Livingston, MT",bi analyst,1,West
13,Camris International,OverviewCAMRIS International is an internation...,"Hamilton, MT",research scientist,0,West
14,Bozeman Deaconess Hospital,\n\n\nPOSITION DESCRIPTION\n\n\n\nPOSITION SUM...,"Bozeman, MT",data analyst,5,West
15,Advanced Technology Group (KS),"ATGer; noun; Rockstar of ATG – self-motivated,...","Missoula, MT",data engineer,5,West
16,Cognizant US Corporation,Data Engineer\n\nThis position may also be fil...,"Missoula, MT",data engineer,0,West
17,University of Montana,The Numerical Terradynamic Simulation Group (N...,"Missoula, MT",research scientist,5,West
18,Camris International,OverviewCAMRIS International is an internation...,"Hamilton, MT",bioinformatics scientist,0,West
19,Bozeman Deaconess Hospital,\n\n\nPOSITION DESCRIPTION\n\n\n\nPOSITION SUM...,"Bozeman, MT",microbiologist,5,West
20,U.S. Bank,U.S. Bank is seeking a Data Analyst in Informa...,"Billings, MT",data analyst,2,West
21,Cognizant US Corporation,Data Engineer - Advanced Technology Group\n\nT...,"Missoula, MT",data engineer,0,West
22,The Great Falls Clinic,Position Overview: Under the general supervisi...,"Great Falls, MT",clinical laboratory scientist,5,West
23,The Great Falls Clinic,Position Overview:Under the general supervisio...,"Great Falls, MT",clinical laboratory scientist,5,West
24,Kalispell,CLS Position Summary: Works independently and ...,"Whitefish, MT",clinical laboratory scientist,0,West
25,GIG,The Role\n\nThe Big Data Engineer in Test (BDE...,"Malta, MT",data engineer,0,West
26,The Great Falls Clinic,Position Overview:Under the general supervisio...,"Great Falls, MT",clinical laboratory scientist,5,West
27,Camris International,OverviewCAMRIS International is an internation...,"Hamilton, MT",senior research scientist,0,West
28,Bozeman Deaconess Hospital,\n\n\n\nPOSITION DESCRIPTION\n\n\n\nPOSITION S...,"Bozeman, MT",clinical laboratory scientist,5,West
29,"Montana State University, Inc","Following an integrated, collaborative model, ...","Bozeman, MT",clinical laboratory scientist,5,West
30,Providence Health & Services,\n*Description:**\n*Providence is calling a Se...,"Missoula, MT",senior data engineer,0,West

In [5]:
# filter only three most relevant position

df_Analyst = df[df['position'].str.contains('Data Analyst',case=False, na=False) ]
df_Scientist = df[df['position'].str.contains('Data Scientist',case=False, na=False) ]
df_Engineer = df[df['position'].str.contains('Data Engineer',case=False, na=False) ]

frames = [df_Analyst, df_Scientist, df_Scientist]
glassdoor_df = pd.concat(frames)

glassdoor_df.dropna()

,company,description,location,position,reviews,Region
4,State of Montana,"TITLE: Data Analyst\n\nSTATUS: Permanent, Full...","Helena, MT",data analyst,5,West
5,Billings Clinic,The Collaborative Science and Innovation (CSI)...,"Billings, MT",data analyst,4,West
6,EDULOG,DATA ANALYST\n\nWHY WORK WITH EDULOG?\n\nWork ...,"Missoula, MT",data analyst,0,West
10,State of Montana,Why should you keep reading and consider worki...,"Helena, MT",data analyst,5,West
11,D.A. Davidson Companies,Job Description:We are seeking to hire an expe...,"Great Falls, MT",data analyst,5,West
14,Bozeman Deaconess Hospital,\n\n\nPOSITION DESCRIPTION\n\n\n\nPOSITION SUM...,"Bozeman, MT",data analyst,5,West
20,U.S. Bank,U.S. Bank is seeking a Data Analyst in Informa...,"Billings, MT",data analyst,2,West
0,GIG,\n-------------\n\n\nThe role\n\n\n\n---------...,"Malta, MT",data scientist,0,West
1,Deloitte,"**Data Scientist Helena, MT** Are you an...","Helena, MT",data scientist,1,West
2,Deloitte,"Data Scientist – Helena, MT\n\nAre you an expe...","Helena, MT",data scientist,1,West
0,GIG,\n-------------\n\n\nThe role\n\n\n\n---------...,"Malta, MT",data scientist,0,West
1,Deloitte,"**Data Scientist Helena, MT** Are you an...","Helena, MT",data scientist,1,West
2,Deloitte,"Data Scientist – Helena, MT\n\nAre you an expe...","Helena, MT",data scientist,1,West

In [6]:
# new data frame with split value columns 
location_df = glassdoor_df["location"].str.split(",", n = 1, expand = True) 

# add city
glassdoor_df["City"]= location_df[0] 
  
# add state
glassdoor_df["State"]= location_df[1] 
  
# Dropping old Name columns 
glassdoor_df.drop(columns =["location"], inplace = True) 

glassdoor_df.head()

,company,description,position,reviews,Region,City,State
4,State of Montana,"TITLE: Data Analyst\n\nSTATUS: Permanent, Full...",data analyst,5,West,Helena,MT
5,Billings Clinic,The Collaborative Science and Innovation (CSI)...,data analyst,4,West,Billings,MT
6,EDULOG,DATA ANALYST\n\nWHY WORK WITH EDULOG?\n\nWork ...,data analyst,0,West,Missoula,MT
10,State of Montana,Why should you keep reading and consider worki...,data analyst,5,West,Helena,MT
11,D.A. Davidson Companies,Job Description:We are seeking to hire an expe...,data analyst,5,West,Great Falls,MT

In [7]:
glassdoor_df.to_csv(f'../../Load/Resources/Glassdoor/{statename}_glassdoor.csv',sep='|',index=False)