In [1]:
import pandas as pd

In [2]:
statename = 'Illinois'
region = 'Midwest'
data_analyst = "../Resources/Indeed/"+statename+"_outputData+Analyst.xlsx"
data_engineer  = "../Resources/Indeed/"+statename+"_outputData+Engineer.xlsx"
data_scientist = "../Resources/Indeed/"+statename+"_outputData+Scientist.xlsx"

In [3]:
df_Analyst = pd.read_excel(data_analyst)
df_Engineer = pd.read_excel(data_engineer)
df_Scientist = pd.read_excel(data_scientist)

In [4]:
df_Analyst.dropna()
df_Engineer.dropna()
df_Scientist.dropna()

,Unnamed: 0,company_name,job_summary,job_title,City,State
0,0,Antuit,Experience in working with cloud Big Data Stac...,Senior Data Scientist,Chicago,IL
1,1,SAIC,Junior Data Scientist works in cross-functiona...,Junior Data Scientist,O'Fallon,IL
2,2,SAIC,Senior Data Scientist works in cross-functiona...,Senior Data Scientist,O'Fallon,IL
3,3,Numerator,"For data science boot camp graduates, 2+ years...",Data Scientist,Chicago,IL
4,4,Evolent Health,"Experience with Big Data Technologies (Hadoop,...",Data Scientist,Chicago,IL
5,5,5thColumn,Job Title: Senior Data Scientist.The Data Scie...,Senior Data Scientist,Chicago,IL
6,6,SpotHero,Above average programming skills in Python and...,Senior Data Scientist,Chicago,IL
7,7,Deloitte,"As a Senior Data Scientist, you will be tasked...",Senior Data Scientist,Chicago,IL
8,8,Relayr,Currently we are seeking a Data Scientist to j...,Data Scientist - IoT (Chicago),Chicago,IL
9,9,"Flexera Software, Inc.",Determining the correct data sets and variable...,Data Scientist,Itasca,IL
10,10,"Prenosis, Inc.","Proficient in Python, R, and SQL.Experience wi...","Data Scientist, Applied Machine Learning",Chicago,IL
11,11,Northrop Grumman,Experience using statistical computer language...,Data Scientist/Principal Data Scientist,Rolling Meadows,IL
12,12,Precima,About the Opportunity The Sr. Data Scientist w...,Data Scientist,Chicago,IL
14,14,Allstate,The Risk Analytics Data Scientist is responsib...,Risk Analytics Data Scientist,Northbrook,IL
15,15,Tredence,"You will also support our software developers,...",Big Data Engineer,Chicago,IL
16,16,Grainger,Ability to mine and explore data to derive ins...,Sr Data Scientist,Chicago,IL
17,17,RADcube,"With software such as Python, or any combinati...",IT Specialist,Chicago,IL
18,18,Bank of America,Familiarity with different data analytics IDEs...,Data Scientist,Chicago,IL
19,19,Claire's,In the role of Senior Retail Analyst/Junior Da...,Senior Retail Analyst/Jr. Data Scientist,Hoffman Estates,IL
20,20,Kemper,Ability to work with various data formats â€“ fr...,Senior Data Scientist,Chicago,IL
21,21,Group O,Experience leading end-to-end data science pro...,Senior Data Scientist,Chicago,IL
22,22,Home Partners of America Inc,All Data Scientist professionals can expect to...,Data Scientist Manager,Chicago,IL
23,23,Logistics Management Institute,The qualified applicant will assist the USTRAN...,Data Scientist (Secret Clearance),Scott AFB,IL
24,24,Mars,Experience using internal shipment and other f...,Senior Data Scientist - Procurement Team,Chicago,IL
25,25,Antuit,Experience in working with cloud Big Data Stac...,Senior Managing Consultant - Data Scientist,Chicago,IL
26,26,Precima,About the Opportunity The Sr. Data Scientist w...,Sr. Data Scientist,Chicago,IL
27,27,ProLink Staffing,Data scientist: 1 year (Preferred).1+ years in...,Manufacturing Data Scientist,Lake Forest,IL
28,28,Great Lakes Coca-Cola Bottling,The Business Execution Data Scientist will be ...,Data Scientist - GLCC,Niles,IL
29,29,AbbVie,"For large enterprise datasets, the data engine...",Hadoop Architect/Engineer,Lake County,IL
30,30,KPMG,"Build ingestion processes to prepare, extract,...","Sr. Associate, AI Engineer",Chicago,IL
...,...,...,...,...,...,...
164,164,Key Bank- Corporate,"The Senior Data Scientist, Decision Sciences s...",Senior Data Scientist,Chicago,IL
165,165,McDonald's Corporate,McDonaldâ€™s is looking to hire a Data Scientist...,Data Scientist,Chicago,IL
166,166,DocuSign,"As a Data Scientist, you'll dig into the data ...","Sr. Product Data Science Analyst, Prepare",Chicago,IL
167,167,NORC at the University of Chicago,"As a Senior Data Scientist in CESR, youâ€™ll.Pro...",Senior Data Scientist,Chicago,IL
168,168,"Amazon Web Services, Inc.",Work with our Professional Services Big Data c...,Data Scientist - Nationwide Opportunities,Chicago,IL
169,169,AbbVie,The Compliance Data Scientist will utilize var...,"Data Scientist, Compliance",Lake County,IL
170,170,Mintel,The Senior Data Scientist is a technical leade...,Senior Data Scientist,Chicago,IL
171,171,Deloitte,Design and implements data tools for analytics...,Data Engineer,Chicago,IL
172,172,Deloitte,Design and implements data tools for analytics...,Senior Data Engineer,Chicago,IL
173,173,"IMO - Intelligent Medical Objects, Inc.",Join our growing Data Engineering department a...,Sr. Data Scientist,Rosemont,IL
174,174,DRW,1+ years of derivatives industry experience as...,Quantitative Researcher,Chicago,IL
175,175,Dunn Solutions Group,Understanding of machine learning (not a data ...,Analytics Project Lead - Skokie,Skokie,IL
176,176,TransUnion,Experience using other programming and data ma...,Senior Data Scientist - Credit Risk,Chicago,IL
177,177,Discover Financial Services,Experience with Data Management platforms and ...,Sr. Data Scientist,Riverwoods,IL
178,178,Altarum,"Position: Data Scientist Intern â€“ March, 2019,...",Data Science Intern - Payformance Solutions,Chicago,IL
179,179,Ecolab,Ecolabâ€™s Nalco Water division is seeking a bus...,Data Scientist,Naperville,IL
180,180,Argonne National Laboratory,Experience with data science/machine learning/...,Postdoctoral Appointee â€“ Many-Body Perturbatio...,Lemont,IL
181,181,"SMS Assist, LLC","Work with the product owner, data scientist an...","Big Data Engineer, Senior",Chicago,IL
182,182,ADM Tech Services,Use of Amazon Simple Storage Service (Amazon S...,"Data Scientist, Advanced Data Analytics",Naperville,IL
183,183,Coyote Logistics,"Senior Data Scientist, Supply Chain.High level...","Senior Data Scientist, Supply Chain",Chicago,IL
184,184,Credit Ninja,Advanced programming skills with Python or R.C...,Senior Data Scientist/R&D,Chicago,IL
185,185,Loyola University Chicago,6-10 years of experience as a data scientist.6...,Research Assistant Professor - Non-Tenure Trac...,Maywood,IL
186,186,Wolverine Trading,You will be using large data sets to create tr...,Machine Learning Data Scientist,Chicago,IL
187,187,devwrx,4-6 years of Data Science is ideal for this pa...,Data Scientist,Chicago,IL
188,188,Strong Analytics,"Integrating with various RDBMS (e.g., Postgres...",Data Scientist,Chicago,IL
189,189,Clarity Insights,5+ years of professional work experience worki...,Data Scientist - Senior Consultant,Chicago,IL
190,190,West Monroe Partners,West Monroe Partners is seeking a Data Scienti...,Sr. Data Science Principal,Chicago,IL
191,191,Uptake,Typical day to day tasks for a data scientist ...,Data Scientist,Chicago,IL
192,192,Wolverine Trading,Acquisition of new data sets and cleaning/main...,Data Scientist / Quantitative Researcher â€“ Hig...,Chicago,IL
193,193,Domino Data Lab,Knowledge of data science workflows.Field Engi...,Field Engineer,Chicago,IL

In [5]:
df_Analyst["title"]="Data Analyst"
df_Engineer["title"]="Data Engineer"
df_Scientist["title"]="Data Scientist"

In [6]:
# filter only three most relevant position
indeed_df = pd.concat([df_Analyst,df_Engineer,df_Scientist])

indeed_df.dropna()

indeed_df

,Unnamed: 0,company_name,job_summary,job_title,City,State,title
0,0,KIPP Foundation,KIPP Chicago seeks a full-time Data Analyst fo...,Data Analyst,Chicago,IL,Data Analyst
1,1,Magnum Insurance Agency,Experience with python for data analysis.Magnu...,Junior Data Analyst,Des Plaines,IL,Data Analyst
2,2,Everywhere Wireless,Experience with scripting languages like Pytho...,"Senior Data Analyst, Finance",Chicago,IL,Data Analyst
3,3,5thColumn,The Data Scientist / Data Analyst role will be...,Senior Data Scientist,Chicago,IL,Data Analyst
4,4,Top-Line Furniture,Reconfigure data as necessary to conform to sy...,Business Data Analyst,Itasca,IL,Data Analyst
5,5,"Groupon, Inc.",The role of Data Analyst is to utilize the ava...,"Data Analyst, New Graduate",Chicago,IL,Data Analyst
6,6,Journera,A passion for data and finding the story that ...,Business Data Analyst,Chicago,IL,Data Analyst
7,7,SagaCity,Title : Data Analyst - Python / SAS.Data Anal...,Data Analyst - Python / SAS,Chicago,IL,Data Analyst
8,8,VeoRide,At least 2 years of professional experience in...,Data Operations Analyst,Chicago,IL,Data Analyst
9,9,Willis Towers Watson,Strong understanding of data and ability to di...,Data Analyst/Engineer,Chicago,IL,Data Analyst
10,10,Volt Workforce Solutions,We are seeking a Data Analyst to work onsite a...,Data Analyst,Moline,IL,Data Analyst
11,11,Everywhere Wireless,Experience with scripting languages like Pytho...,"Senior Data Analyst, Finance",Chicago,IL,Data Analyst
12,12,TDS,"4+ years experience in Data Analytics, Data Sc...",Senior Data Analyst,Chicago,IL,Data Analyst
13,13,Shoprunner,Experience with R or Python for data manipulat...,Senior Data Analyst,Chicago,IL,Data Analyst
14,14,Caterpillar,Experience with conducting data analysis using...,Corporate Part-Time Interns: Data Analytics / ...,Peoria,IL,Data Analyst
15,15,Noble Network of Charter Schools,Noble is looking for a Data Analyst (DA) to jo...,Data Analyst,Chicago,IL,Data Analyst
16,16,Caterpillar,"Previous role as a data engineer, IT Engineer,...",Data Engineer,Chicago,IL,Data Analyst
17,17,Cameo,"As a senior data analyst, you will help answer...","Senior Data Analyst, Strategy & Finance",Chicago,IL,Data Analyst
18,18,University of Illinois,Data Analyst - Gies Business Online Programs (...,Data Analyst - Gies Business Online Programs,Urbana-Champaign,IL,Data Analyst
19,19,Cars.com,3+ years professional experience as a data ana...,Senior Web Analytics Analyst,Chicago,IL,Data Analyst
20,20,AbbVie,"Planning, building and running enterprise clas...",Hadoop Architect/Engineer,Lake County,IL,Data Analyst
21,21,"Freeosk, Inc.",1+ years of analyst experience.A strong partne...,Jr. Data Analyst,Chicago,IL,Data Analyst
22,22,The Joint Commission,Participate in all phases of data receipt appl...,Clinical Data Analyst- Quantitative Data Science,Oakbrook Terrace,IL,Data Analyst
23,23,Sterling,4+ years of experience with relational data mo...,BI Developer,Phoenix,IL,Data Analyst
24,24,Rush University Medical Center,Job Title: Senior Clinical Data Analyst.The Se...,Senior Clinical Data Analyst,Chicago,IL,Data Analyst
25,25,"Smith Hanley Associates, LLC","Prior experience as a Database Developer, BI A...",Data Engineer - PHARMA,Chicago,IL,Data Analyst
26,26,CultureFit Technology Staffing,Experience with R or Python is a big plus.You ...,Data Analyst,Chicago,IL,Data Analyst
27,27,Advantech,Experience with Informatica tools (PowerCenter...,Architects & Designers Mainstream II (CII2),Park City,IL,Data Analyst
28,28,Livly,"Familiar with data exploration, analysis, and ...",Part-Time Data Analyst,Chicago,IL,Data Analyst
29,29,XSNonline,"Business analyst, data analyst, or similar: 3 ...",Data Analyst I,Saint Charles,IL,Data Analyst
...,...,...,...,...,...,...,...
164,164,Key Bank- Corporate,"The Senior Data Scientist, Decision Sciences s...",Senior Data Scientist,Chicago,IL,Data Scientist
165,165,McDonald's Corporate,McDonaldâ€™s is looking to hire a Data Scientist...,Data Scientist,Chicago,IL,Data Scientist
166,166,DocuSign,"As a Data Scientist, you'll dig into the data ...","Sr. Product Data Science Analyst, Prepare",Chicago,IL,Data Scientist
167,167,NORC at the University of Chicago,"As a Senior Data Scientist in CESR, youâ€™ll.Pro...",Senior Data Scientist,Chicago,IL,Data Scientist
168,168,"Amazon Web Services, Inc.",Work with our Professional Services Big Data c...,Data Scientist - Nationwide Opportunities,Chicago,IL,Data Scientist
169,169,AbbVie,The Compliance Data Scientist will utilize var...,"Data Scientist, Compliance",Lake County,IL,Data Scientist
170,170,Mintel,The Senior Data Scientist is a technical leade...,Senior Data Scientist,Chicago,IL,Data Scientist
171,171,Deloitte,Design and implements data tools for analytics...,Data Engineer,Chicago,IL,Data Scientist
172,172,Deloitte,Design and implements data tools for analytics...,Senior Data Engineer,Chicago,IL,Data Scientist
173,173,"IMO - Intelligent Medical Objects, Inc.",Join our growing Data Engineering department a...,Sr. Data Scientist,Rosemont,IL,Data Scientist
174,174,DRW,1+ years of derivatives industry experience as...,Quantitative Researcher,Chicago,IL,Data Scientist
175,175,Dunn Solutions Group,Understanding of machine learning (not a data ...,Analytics Project Lead - Skokie,Skokie,IL,Data Scientist
176,176,TransUnion,Experience using other programming and data ma...,Senior Data Scientist - Credit Risk,Chicago,IL,Data Scientist
177,177,Discover Financial Services,Experience with Data Management platforms and ...,Sr. Data Scientist,Riverwoods,IL,Data Scientist
178,178,Altarum,"Position: Data Scientist Intern â€“ March, 2019,...",Data Science Intern - Payformance Solutions,Chicago,IL,Data Scientist
179,179,Ecolab,Ecolabâ€™s Nalco Water division is seeking a bus...,Data Scientist,Naperville,IL,Data Scientist
180,180,Argonne National Laboratory,Experience with data science/machine learning/...,Postdoctoral Appointee â€“ Many-Body Perturbatio...,Lemont,IL,Data Scientist
181,181,"SMS Assist, LLC","Work with the product owner, data scientist an...","Big Data Engineer, Senior",Chicago,IL,Data Scientist
182,182,ADM Tech Services,Use of Amazon Simple Storage Service (Amazon S...,"Data Scientist, Advanced Data Analytics",Naperville,IL,Data Scientist
183,183,Coyote Logistics,"Senior Data Scientist, Supply Chain.High level...","Senior Data Scientist, Supply Chain",Chicago,IL,Data Scientist
184,184,Credit Ninja,Advanced programming skills with Python or R.C...,Senior Data Scientist/R&D,Chicago,IL,Data Scientist
185,185,Loyola University Chicago,6-10 years of experience as a data scientist.6...,Research Assistant Professor - Non-Tenure Trac...,Maywood,IL,Data Scientist
186,186,Wolverine Trading,You will be using large data sets to create tr...,Machine Learning Data Scientist,Chicago,IL,Data Scientist
187,187,devwrx,4-6 years of Data Science is ideal for this pa...,Data Scientist,Chicago,IL,Data Scientist
188,188,Strong Analytics,"Integrating with various RDBMS (e.g., Postgres...",Data Scientist,Chicago,IL,Data Scientist
189,189,Clarity Insights,5+ years of professional work experience worki...,Data Scientist - Senior Consultant,Chicago,IL,Data Scientist
190,190,West Monroe Partners,West Monroe Partners is seeking a Data Scienti...,Sr. Data Science Principal,Chicago,IL,Data Scientist
191,191,Uptake,Typical day to day tasks for a data scientist ...,Data Scientist,Chicago,IL,Data Scientist
192,192,Wolverine Trading,Acquisition of new data sets and cleaning/main...,Data Scientist / Quantitative Researcher â€“ Hig...,Chicago,IL,Data Scientist
193,193,Domino Data Lab,Knowledge of data science workflows.Field Engi...,Field Engineer,Chicago,IL,Data Scientist

In [7]:
 indeed_df["state1"]=statename
indeed_df["region"]=region
  
indeed_df

,Unnamed: 0,company_name,job_summary,job_title,City,State,title,state1,region
0,0,KIPP Foundation,KIPP Chicago seeks a full-time Data Analyst fo...,Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
1,1,Magnum Insurance Agency,Experience with python for data analysis.Magnu...,Junior Data Analyst,Des Plaines,IL,Data Analyst,Illinois,Midwest
2,2,Everywhere Wireless,Experience with scripting languages like Pytho...,"Senior Data Analyst, Finance",Chicago,IL,Data Analyst,Illinois,Midwest
3,3,5thColumn,The Data Scientist / Data Analyst role will be...,Senior Data Scientist,Chicago,IL,Data Analyst,Illinois,Midwest
4,4,Top-Line Furniture,Reconfigure data as necessary to conform to sy...,Business Data Analyst,Itasca,IL,Data Analyst,Illinois,Midwest
5,5,"Groupon, Inc.",The role of Data Analyst is to utilize the ava...,"Data Analyst, New Graduate",Chicago,IL,Data Analyst,Illinois,Midwest
6,6,Journera,A passion for data and finding the story that ...,Business Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
7,7,SagaCity,Title : Data Analyst - Python / SAS.Data Anal...,Data Analyst - Python / SAS,Chicago,IL,Data Analyst,Illinois,Midwest
8,8,VeoRide,At least 2 years of professional experience in...,Data Operations Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
9,9,Willis Towers Watson,Strong understanding of data and ability to di...,Data Analyst/Engineer,Chicago,IL,Data Analyst,Illinois,Midwest
10,10,Volt Workforce Solutions,We are seeking a Data Analyst to work onsite a...,Data Analyst,Moline,IL,Data Analyst,Illinois,Midwest
11,11,Everywhere Wireless,Experience with scripting languages like Pytho...,"Senior Data Analyst, Finance",Chicago,IL,Data Analyst,Illinois,Midwest
12,12,TDS,"4+ years experience in Data Analytics, Data Sc...",Senior Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
13,13,Shoprunner,Experience with R or Python for data manipulat...,Senior Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
14,14,Caterpillar,Experience with conducting data analysis using...,Corporate Part-Time Interns: Data Analytics / ...,Peoria,IL,Data Analyst,Illinois,Midwest
15,15,Noble Network of Charter Schools,Noble is looking for a Data Analyst (DA) to jo...,Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
16,16,Caterpillar,"Previous role as a data engineer, IT Engineer,...",Data Engineer,Chicago,IL,Data Analyst,Illinois,Midwest
17,17,Cameo,"As a senior data analyst, you will help answer...","Senior Data Analyst, Strategy & Finance",Chicago,IL,Data Analyst,Illinois,Midwest
18,18,University of Illinois,Data Analyst - Gies Business Online Programs (...,Data Analyst - Gies Business Online Programs,Urbana-Champaign,IL,Data Analyst,Illinois,Midwest
19,19,Cars.com,3+ years professional experience as a data ana...,Senior Web Analytics Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
20,20,AbbVie,"Planning, building and running enterprise clas...",Hadoop Architect/Engineer,Lake County,IL,Data Analyst,Illinois,Midwest
21,21,"Freeosk, Inc.",1+ years of analyst experience.A strong partne...,Jr. Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
22,22,The Joint Commission,Participate in all phases of data receipt appl...,Clinical Data Analyst- Quantitative Data Science,Oakbrook Terrace,IL,Data Analyst,Illinois,Midwest
23,23,Sterling,4+ years of experience with relational data mo...,BI Developer,Phoenix,IL,Data Analyst,Illinois,Midwest
24,24,Rush University Medical Center,Job Title: Senior Clinical Data Analyst.The Se...,Senior Clinical Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
25,25,"Smith Hanley Associates, LLC","Prior experience as a Database Developer, BI A...",Data Engineer - PHARMA,Chicago,IL,Data Analyst,Illinois,Midwest
26,26,CultureFit Technology Staffing,Experience with R or Python is a big plus.You ...,Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
27,27,Advantech,Experience with Informatica tools (PowerCenter...,Architects & Designers Mainstream II (CII2),Park City,IL,Data Analyst,Illinois,Midwest
28,28,Livly,"Familiar with data exploration, analysis, and ...",Part-Time Data Analyst,Chicago,IL,Data Analyst,Illinois,Midwest
29,29,XSNonline,"Business analyst, data analyst, or similar: 3 ...",Data Analyst I,Saint Charles,IL,Data Analyst,Illinois,Midwest
...,...,...,...,...,...,...,...,...,...
164,164,Key Bank- Corporate,"The Senior Data Scientist, Decision Sciences s...",Senior Data Scientist,Chicago,IL,Data Scientist,Illinois,Midwest
165,165,McDonald's Corporate,McDonaldâ€™s is looking to hire a Data Scientist...,Data Scientist,Chicago,IL,Data Scientist,Illinois,Midwest
166,166,DocuSign,"As a Data Scientist, you'll dig into the data ...","Sr. Product Data Science Analyst, Prepare",Chicago,IL,Data Scientist,Illinois,Midwest
167,167,NORC at the University of Chicago,"As a Senior Data Scientist in CESR, youâ€™ll.Pro...",Senior Data Scientist,Chicago,IL,Data Scientist,Illinois,Midwest
168,168,"Amazon Web Services, Inc.",Work with our Professional Services Big Data c...,Data Scientist - Nationwide Opportunities,Chicago,IL,Data Scientist,Illinois,Midwest
169,169,AbbVie,The Compliance Data Scientist will utilize var...,"Data Scientist, Compliance",Lake County,IL,Data Scientist,Illinois,Midwest
170,170,Mintel,The Senior Data Scientist is a technical leade...,Senior Data Scientist,Chicago,IL,Data Scientist,Illinois,Midwest
171,171,Deloitte,Design and implements data tools for analytics...,Data Engineer,Chicago,IL,Data Scientist,Illinois,Midwest
172,172,Deloitte,Design and implements data tools for analytics...,Senior Data Engineer,Chicago,IL,Data Scientist,Illinois,Midwest
173,173,"IMO - Intelligent Medical Objects, Inc.",Join our growing Data Engineering department a...,Sr. Data Scientist,Rosemont,IL,Data Scientist,Illinois,Midwest
174,174,DRW,1+ years of derivatives industry experience as...,Quantitative Researcher,Chicago,IL,Data Scientist,Illinois,Midwest
175,175,Dunn Solutions Group,Understanding of machine learning (not a data ...,Analytics Project Lead - Skokie,Skokie,IL,Data Scientist,Illinois,Midwest
176,176,TransUnion,Experience using other programming and data ma...,Senior Data Scientist - Credit Risk,Chicago,IL,Data Scientist,Illinois,Midwest
177,177,Discover Financial Services,Experience with Data Management platforms and ...,Sr. Data Scientist,Riverwoods,IL,Data Scientist,Illinois,Midwest
178,178,Altarum,"Position: Data Scientist Intern â€“ March, 2019,...",Data Science Intern - Payformance Solutions,Chicago,IL,Data Scientist,Illinois,Midwest
179,179,Ecolab,Ecolabâ€™s Nalco Water division is seeking a bus...,Data Scientist,Naperville,IL,Data Scientist,Illinois,Midwest
180,180,Argonne National Laboratory,Experience with data science/machine learning/...,Postdoctoral Appointee â€“ Many-Body Perturbatio...,Lemont,IL,Data Scientist,Illinois,Midwest
181,181,"SMS Assist, LLC","Work with the product owner, data scientist an...","Big Data Engineer, Senior",Chicago,IL,Data Scientist,Illinois,Midwest
182,182,ADM Tech Services,Use of Amazon Simple Storage Service (Amazon S...,"Data Scientist, Advanced Data Analytics",Naperville,IL,Data Scientist,Illinois,Midwest
183,183,Coyote Logistics,"Senior Data Scientist, Supply Chain.High level...","Senior Data Scientist, Supply Chain",Chicago,IL,Data Scientist,Illinois,Midwest
184,184,Credit Ninja,Advanced programming skills with Python or R.C...,Senior Data Scientist/R&D,Chicago,IL,Data Scientist,Illinois,Midwest
185,185,Loyola University Chicago,6-10 years of experience as a data scientist.6...,Research Assistant Professor - Non-Tenure Trac...,Maywood,IL,Data Scientist,Illinois,Midwest
186,186,Wolverine Trading,You will be using large data sets to create tr...,Machine Learning Data Scientist,Chicago,IL,Data Scientist,Illinois,Midwest
187,187,devwrx,4-6 years of Data Science is ideal for this pa...,Data Scientist,Chicago,IL,Data Scientist,Illinois,Midwest
188,188,Strong Analytics,"Integrating with various RDBMS (e.g., Postgres...",Data Scientist,Chicago,IL,Data Scientist,Illinois,Midwest
189,189,Clarity Insights,5+ years of professional work experience worki...,Data Scientist - Senior Consultant,Chicago,IL,Data Scientist,Illinois,Midwest
190,190,West Monroe Partners,West Monroe Partners is seeking a Data Scienti...,Sr. Data Science Principal,Chicago,IL,Data Scientist,Illinois,Midwest
191,191,Uptake,Typical day to day tasks for a data scientist ...,Data Scientist,Chicago,IL,Data Scientist,Illinois,Midwest
192,192,Wolverine Trading,Acquisition of new data sets and cleaning/main...,Data Scientist / Quantitative Researcher â€“ Hig...,Chicago,IL,Data Scientist,Illinois,Midwest
193,193,Domino Data Lab,Knowledge of data science workflows.Field Engi...,Field Engineer,Chicago,IL,Data Scientist,Illinois,Midwest

In [8]:
outputFilename = "../../Load/Resources/Indeed/"+statename+"_Indeed.csv"
indeed_df.to_csv(outputFilename,sep=',',index=False)