In [1]:
import pandas as pd

In [2]:
jobs_df = pd.read_csv('./Resources/alldata.csv')
jobs_df.dropna()
jobs_df.head()

,position,company,description,reviews,location,Unnamed: 5
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301",NaN
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA",NaN
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA",NaN
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303",NaN
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA",NaN

In [3]:
jobs_df.to_csv("jobs_nonan.csv")